<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form validate-form">
					<span class="login100-form-title p-b-26">
						Login/Signup as
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
            <div>

             <a class="admin-user" href="#"><img src="../assets/images/admin-login.png"   class="icon"></a> <br>
             
            </div>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<div >
              <a class="admin-user" href=""><img src="../assets/images/images-user.jpg"   class="icon"></a><br>
              
            </div>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								NEXT
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	


</body>